#ui-hud {
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "clock coords music logout";
  grid-gap: 15px;
  margin: 2vh 3vh 2vh 3vh;
  visibility: hidden;
}

.ui-element {
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: var(--white);
  margin-top: 2vh;
}

.ui-element-head {
  font-size: 12px;
  font-weight: bold;
  color: var(--accent);
  padding-top: 3px;
  padding-left: 1px;
}

.ui-element-circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  top: 18%;
}

#ui-clock {
  grid-area: "clock";
  background: transparent;
}

#ui-coords {
  grid-area: "coords";
  width: 55px;
  height: 50px;
  background-color: var(--c3);
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  color: var(--white);
  text-wrap: nowrap;
}

#ui-coords-data {
  overflow: hidden;
}

#ui-coords-head {
  padding-top: 2px;
}

/*
  HOVER HELP TEXT
  https://www.w3schools.com/css/css_tooltip.asp
*/

.ui-help {
  position: relative;
}

.ui-help .ui-helptext {
  visibility: hidden;
  top: 105%;
  left: 110%;
  background-color: var(--c2);
  color: var(--white);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: xx-small;
  opacity: 85%;

  position: absolute;
  z-index: 999;
}

.ui-help:hover .ui-helptext {
  letter-spacing: 1px;
  visibility: visible;
}

/* SOUNDTRACK */

#ui-music{
  grid-area: "music";
  width: 12vw;
  height: 50px;
  margin-left: 10vh;
  margin-top: 1vh;
  border-style: solid;
  background: var(--c3);
  padding: 1vh 2.5vh 1vh 2.5vh;
  color: var(--white);
  overflow: visible;  /* help on hover */
}

#ui-music-content {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.65em;
}

#ui-music-head {
  font-weight: bold;
  color: var(--accent);
}

#ui-music-by {
  font-size: 0.8em;
  text-wrap: nowrap;
  overflow: hidden;
}

#ui-music-volume {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--white);
}

/* USER */
#ui-logon {
  position: relative;
  height: 40vh;
  z-index: 1;
  background-color: #f3f3f3;
  padding-top: 40vh;
  padding-bottom: 20vh;
  width: 100vw;
}

#ui-logon-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ui-logon-form > * {
  display: block;
  font-weight: bold;
}

#ui-logon-form > label {
  padding-top: 10px;
  text-align: center;
  padding-bottom: 5px;
}

#ui-logon-form, #ui-logon-form > input, #ui-logon-form > button {
  letter-spacing: 1px;
}

#ui-logon-form > button {
  margin-top: 10px;
  margin-left: 33%;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: greenyellow;
  opacity: 0.7;
}

#ui-logon-form > button:hover {
  opacity: 1;
  cursor: pointer;
}

#ui-logon-error {
  visibility: hidden;
  background-color: orange;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5vh;
  opacity: 0.8;
}

input {
  padding: 3px 6px;
}

#ui-logout {
  grid-area: "logout";
  margin-top: 20px;
  width: 30px;
  height: 22px;
  text-align: center;
  padding-top: 7px;
  background-color: var(--c3);
  color: whitesmoke;
}

#ui-logout:hover {
  cursor: pointer;
  color: brown;
}
